{% extends 'base.html' %}

{% load static %}

{% block title %}
Informasaun Inskrisaun
{% endblock %}

{% block content %}
<!-- jumbotrong -->
<div class="my-jumbo p-5 mb-4 bg-body-tertiary">
  <div class="container-fluid py-5">
    <h1 class="display-5 text-white fw-bold">Informasaun Inskrisaun</h1>
  </div>
</div>
<!-- end of jumbotrong -->

<!-- content -->
<div class="perfil-container container shadow rounded my-3 p-3 overflow-hidden" id="content">

  <div class="row">
    <div class="col-sm-12">

      <h3 class="my-3 left">REKEZITU SIRA MOLOK HALO MATRIKULA NO INSKRISAUN</h3>

      <p class="lh-lg left">Matrikula halao kedas iha tinan da-huluk bainhira estudante tama iha eskola. (normalmente koresponde ba 10<sup>0</sup> ano iha siklu estudu nian).</p>

      <p class="lh-lg right">Inskrisaun Sempre hala'o iha tinan-tinan, hanesan forma ida hodi kontrola karik estudante sira iha interese atu kontinua sira nia estudu no prepara ba anu letivu foun.</p>

      <p class="lh-lg right">Iha kualker tinan karik estudante ruma sai husi eskola ho razaun tamba komportamentu ladi'ak, sei la fo fila nia osan ne'ebe halo ona pagamentu.</p>

      <p class="lh-lg left">Kriteriu sira konaba matrikula no propinas ba 10<sup>0</sup> ano</p>

      <ul class="custom-list left d-block">
        <li class="dash">Kopia sertifikadu Ensinu Baziku 3<sup>0</sup> Siklu nian tahan ida</li>
        <li class="dash">Foto kolorido 3 x 4 tahan rua</li>
        <li class="dash">Kopia sertidaun batizmu ou RDTL tahan ida</li>
        <li class="dash">pagamentu matrikula nian $15.00</li>
        <li class="dash">Priense formulariu</li>
      </ul>
      
    </div>
  </div>

</div>
<!-- end of content -->
{% endblock %}

{% block scripts %}
  <script src="{% static 'eti/js/animation.js' %}"></script>
{% endblock %}